<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <script
      src="https://kit.fontawesome.com/550598cb51.js"
      crossorigin="anonymous"
    ></script>
    <title>Dogs</title>
  </head>
  <body>
    <div class="main-container">
      <div class="aside" id="nav-js">
        <div class="aside-page">
          <img src="../images/home/dog.jpg" alt="" />
          <!-- delete details and make a dropdown -->
          <div class="drop-down">
            <p>
              Dogs
              <i
                class="fa-solid fa-arrow-down fa-xs"
                style="top: 2px; position: relative; cursor: pointer"
                id="selectPage"
              ></i>
            </p>
            <div class="links">
              <p><a href="" class="link">Cats</a></p>
              <p><a href="" class="link">Parrots</a></p>
              <p><a href="" class="link">Rodents</a></p>
            </div>
          </div>
          <div class="open-nav" onclick="openNav()" id="open-nav">
            <p>&#9552;</p>
          </div>
        </div>

        <ul class="nav">
          <li>
            <a href="../index.html"
              ><i class="fa-solid fa-shield-dog"></i> Dog History</a
            >
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Food</a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Treats</a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Bowls</a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Bed</a>
          </li>
          <li>
            <a href=""
              ><i class="fa-solid fa-shield-dog"></i>Leashes & Collars</a
            >
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Toys</a>
          </li>
        </ul>
      </div>
      <div class="main-content">
        <section class="history section" id="history">
          <h1>Dog History</h1>
          <div class="container">
            <div class="history-p">
              <p class="dog-history"></p>
            </div>
            <div class="history-img">
              <img src="https://placehold.co/300x300" alt="" />
              <img src="https://placehold.co/300x300" alt="" />
            </div>
          </div>
        </section>
      </div>
    </div>
    <script type="module" src="../js/service/dog-data.js"></script>
    <script type="module" src="../js/nav-bar.js"></script>
  </body>
</html>
