<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <script
      src="https://kit.fontawesome.com/550598cb51.js"
      crossorigin="anonymous"
    ></script>
    <title>Dogs</title>
  </head>
  <body>
    <div class="main-container">
      <div class="aside" id="nav-js">
        <div class="aside-page">
          <div class="close-nav" onclick="openNav()">
            <i class="fa-sharp fa-solid fa-circle-xmark"></i>
          </div>
          <a href="../index.html"
            ><img src="../images/home/dog.jpg" alt=""
          /></a>
          <div class="drop-down">
            <p>
              Dogs
              <i
                class="fa-solid fa-arrow-down fa-xs"
                style="top: 2px; position: relative; cursor: pointer"
                id="selectPage"
              ></i>
            </p>
            <div class="links">
              <p><a href="" class="link">Cats</a></p>
              <p><a href="" class="link">Parrots</a></p>
              <p><a href="" class="link">Rodents</a></p>
            </div>
          </div>
          <div class="open-nav" onclick="openNav()">
            <p>&#9552;</p>
          </div>
        </div>

        <ul class="nav">
          <li>
            <a href="#history" class="select select-active"
              ><i class="fa-solid fa-shield-dog"></i>Domestic dog</a
            >
          </li>
          <li>
            <a href="#origins" class="select"
              ><i class="fa-solid fa-shield-dog"></i>Evolutionary origins</a
            >
          </li>
          <li>
            <a href="#breeds" class="select"
              ><i class="fa-solid fa-shield-dog"></i>Dog breeds</a
            >
          </li>
          <li>
            <a href="#working-dogs" class="select"
              ><i class="fa-solid fa-shield-dog"></i>Modern working dogs</a
            >
          </li>
          <li>
            <a href="#living" class="select"
              ><i class="fa-solid fa-shield-dog"></i>Living with dogs</a
            >
          </li>
        </ul>
      </div>
      <div class="main-content">
        <!--======================================== START SECTION: HISTORY ========================================-->
        <section class="history section" id="history">
          <h1 class="h1-history">What is a domestic dog?</h1>
          <div class="container">
            <div class="history-p">
              <p class="dog-text"></p>
            </div>
            <div class="history-img">
              <img src="https://placehold.co/300x300" alt="" class="js-anim" />
              <img src="https://placehold.co/300x300" alt="" class="js-anim" />
            </div>
          </div>
        </section>
        <!--======================================== END SECTION: HISTORY ========================================-->
        <div class="hr reveal">
          <div>
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
          <div>
            <!-- <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr /> -->
          </div>
        </div>
        <!--======================================== START SECTION: origins ========================================-->
        <section class="origins section reveal" id="origins">
          <h1 class="h1-origins">Evolutionary origins</h1>
          <div class="container">
            <div class="origins-img">
              <div title="img-1">
                <img src="https://placehold.co/250x300" alt="" />
                <p>Premium</p>
              </div>
              <div title="img-2">
                <img src="https://placehold.co/250x300" alt="" />
                <p>Premium</p>
              </div>
              <div title="img-3">
                <img src="https://placehold.co/250x300" alt="" />
                <p>Premium</p>
              </div>
              <div title="img-4">
                <img src="https://placehold.co/250x300" alt="" />
                <p>Premium</p>
              </div>
              <div title="img-5">
                <img src="https://placehold.co/250x300" alt="" />
                <p>Premium</p>
              </div>
            </div>
            <div class="origins-p">
              <div>
                <h2>Lorem</h2>
                <p class="dog-text" title="p-2-anim"></p>
              </div>

              <div>
                <h2>Lorem</h2>
                <p class="dog-text" title="p-2-anim"></p>
              </div>
            </div>
          </div>
        </section>
        <!--======================================== END SECTION: origins ========================================-->
        <div class="hr reveal">
          <div>
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
          <div>
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
        </div>
        <!--======================================== START SECTION: breeds ========================================-->

        <section class="breeds section reveal" id="breeds">
          <h1 class="h1-breeds">Dog breeds</h1>
          <div class="container">
            <div class="breeds-img">
              <div class="first">
                <img
                  src="https://placehold.co/200x250"
                  alt=""
                  title="img-1-anim"
                />
                <img
                  src="https://placehold.co/200x250"
                  alt=""
                  title="img-1-anim"
                />
              </div>
              <div class="second">
                <p class="dog-text" title="p-1-anim"></p>
              </div>
            </div>
            <div class="breeds-img">
              <div class="second">
                <p class="dog-text" title="p-2-anim"></p>
              </div>
              <div class="first">
                <img
                  src="https://placehold.co/200x250"
                  alt=""
                  title="img-2-anim"
                />
                <img
                  src="https://placehold.co/200x250"
                  alt=""
                  title="img-2-anim"
                />
              </div>
            </div>
          </div>
        </section>
        <!--======================================== END SECTION: breeds ========================================-->
        <div class="hr reveal">
          <div>
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
          <div>
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
        </div>
        <!--======================================== START SECTION: working dogs ========================================-->

        <section class="working-dogs section reveal" id="working-dogs">
          <h1 class="h1-working-dogs">Modern working dogs</h1>
          <div class="container">
            <div class="working-dogs-text">
              <div title="p-working-dogs-1" class="first">
                <p class="dog-text" title="p-1-anim"></p>
              </div>
              <div class="second" title="p-working-dogs-2">
                <p class="dog-text" title="p-2-anim"></p>
              </div>
            </div>
            <div class="working-dogs-text">
              <img src="https://placehold.co/200x250" alt="" title="img-1" />
              <img src="https://placehold.co/200x250" alt="" title="img-2" />
              <img src="https://placehold.co/200x250" alt="" title="img-3" />
              <img src="https://placehold.co/200x250" alt="" title="img-4" />
            </div>
          </div>
        </section>
        <!--======================================== END SECTION: working dogs ========================================-->
        <div class="hr reveal">
          <div>
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
          <div>
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
        </div>
        <!--======================================== START SECTION: working dogs ========================================-->

        <section class="living section reveal" id="living">
          <h1 class="h1-living">Living with dogs</h1>
          <div class="container">
            <div class="living-text">
              <div title="p-living-1" class="first">
                <p class="dog-text" title="p-1-anim"></p>
              </div>
              <div class="second" title="p-living-2">
                <p class="dog-text" title="p-2-anim"></p>
              </div>
            </div>
            <!-- <div class="living-text">
              <img src="https://placehold.co/200x250" alt="" title="img-1" />
              <img src="https://placehold.co/200x250" alt="" title="img-2" />
              <img src="https://placehold.co/200x250" alt="" title="img-3" />
              <img src="https://placehold.co/200x250" alt="" title="img-4" />
            </div> -->
          </div>
        </section>
        <!--======================================== END SECTION: working dogs ========================================-->
      </div>
    </div>
    <script type="module" src="../js/service/dog-data.js"></script>
    <script type="module" src="../js/nav-bar.js"></script>
    <script type="module" src="../js/animation.js"></script>
  </body>
</html>
