<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <script
      src="https://kit.fontawesome.com/550598cb51.js"
      crossorigin="anonymous"
    ></script>
    <title>Dogs</title>
  </head>
  <body>
    <div class="main-container">
      <div class="aside">
        <div class="aside-page">
          <img src="../images/home/dog.jpg" alt="" />
          <details class="drop-down">
            <summary>Dogs</summary>
            <p><a href="">Cats</a></p>
            <p><a href="">Parrots</a></p>
            <p><a href="">Rodents</a></p>
          </details>
        </div>

        <ul class="nav">
          <li>
            <a href="../index.html"
              ><i class="fa-solid fa-shield-dog"></i> Dog History</a
            >
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Food</a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Treats</a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Bowls</a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Bed</a>
          </li>
          <li>
            <a href=""
              ><i class="fa-solid fa-shield-dog"></i>Leashes & Collars</a
            >
          </li>
          <li>
            <a href=""><i class="fa-solid fa-shield-dog"></i>Toys</a>
          </li>
        </ul>
      </div>
      <div class="main-content">
        <section class="history section" id="history">
          <div class="container">
            <h1>Dog History</h1>
            <p id="dog">
            </p>
          </div>
        </section>
      </div>
    </div>
    <script type="module" src="../service/dog-data.js"></script>
  </body>
</html>
