@use "../abstracts/index" as style;

.container-home {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  .h1-home {
    position: absolute;
    margin-top: 60px;
    font-size: style.$fontHeadingH2;
    color: style.$colorNeutral;
    @include style.textStroke;
    z-index: 1;
  }
  .imgs-home-container {
    flex: 0 0 25%;
    max-width: 25%;
    &:hover {
      .title-img {
        z-index: 1;
        opacity: 1;
      }
    }
    .title-img {
      position: absolute;
      margin-top: 4em;
      margin-left: 10%;
      font-size: style.$fontHeadingH3;
      color: style.$colorNeutral;
      @include style.textStroke;
      transition: 0.8s all ease-in-out;
      opacity: 0;
    }
    .imgs-home {
      width: 100%;
      height: 100vh;
      filter: blur(7px);
      transition: 0.3s all ease-in-out;

      &:hover {
        filter: blur(0px);
      }
    }
  }
}
