@use "../abstracts/index" as style;

.main-container {
  .aside {
    width: 270px;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    border: 1px solid style.$colorSecondary25;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: all 0.5s ease;
    .aside-page {
      transform: translate(20px, 50px);
      text-align: center;
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      .drop-down {
        margin-top: 10px;
        font-size: style.$fontMediumText;
        color: style.$colorPrimary;
        font-weight: 600;
        .links {
          display: flex;
          flex-direction: column;
          opacity: 0;
          transition: all 0.5s ease;
        }
        .link {
          text-decoration: none;
          color: style.$colorSecondary;
          margin-top: 8px;
          display: inline-block;
          &:hover {
            color: style.$colorPrimary;
            font-weight: 600;
          }
        }
        .link-show {
          opacity: 1;
        }
      }
    }
    .nav {
      margin: auto;
      li {
        margin: 30px 0px;
        list-style: none;
        .select {
          text-decoration: none;
          font-size: style.$fontMediumText;
          display: block;
          padding: 5px 15px;
          border-bottom: 1px solid style.$colorSecondary25;
          color: style.$colorSecondary;
          cursor: pointer;
          i {
            margin-right: 15px;
            font-size: style.$fontBodyMain;
          }
        }
        .select-active {
          color: style.$colorPrimary;
          font-weight: 600;
          i {
            color: style.$colorAccent;
          }
        }
      }
    }
    .open-nav {
      transform: translate(17em, -15em);
      width: 20%;
      opacity: 10%;
      display: block;
      &:hover {
        opacity: 100%;
      }
      p {
        font-size: 25px;
        background-color: style.$colorAccent;
        border-top: 1px solid style.$colorNeutral;
        border-right: 1px solid style.$colorNeutral;
        border-bottom: 1px solid style.$colorNeutral;
        color: style.$colorNeutral;
        padding: 0px 13px;
        cursor: pointer;
      }
    }
    .display-none {
      display: none;
    }

    .close-nav {
      transform: translate(5.5em, -30px);
      i {
        color: style.$colorAccent;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }

  .open-aside {
    left: 0;
  }
}
