.container-home {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}
.container-home .h1-home {
  position: absolute;
  margin-top: 60px;
  font-size: 50px;
  color: #f2f6ff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index: 1;
}
.container-home .imgs-home-container {
  flex: 0 0 25%;
  max-width: 25%;
}
.container-home .imgs-home-container:hover .title-img {
  z-index: 1;
  opacity: 1;
}
.container-home .imgs-home-container .title-img {
  position: absolute;
  margin-top: 4em;
  margin-left: 10%;
  font-size: 40px;
  color: #f2f6ff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: 0.8s all ease-in-out;
  opacity: 0;
}
.container-home .imgs-home-container .imgs-home {
  width: 100%;
  height: 100vh;
  filter: blur(7px);
  transition: 0.3s all ease-in-out;
}
.container-home .imgs-home-container .imgs-home:hover {
  filter: blur(0px);
}

.section {
  padding: 0px 30px;
  z-index: 0;
}

.h1-history {
  margin: 30px;
  font-size: 40px;
  -webkit-text-decoration: underline #a44ef5;
          text-decoration: underline #a44ef5;
  animation: h1 1.2s ease-in-out;
}

.history {
  min-height: calc(100vh - 30px);
  line-height: 1.5;
  letter-spacing: 0.6px;
  word-spacing: 1.6px;
}
.history .container {
  min-height: 65vh;
  margin: 30px;
  display: flex;
  align-items: center;
}
.history .container .history-p {
  flex: 0 0 60%;
  max-width: 60%;
  font-size: 20px;
}
.history .container .history-p p {
  animation: text 2s ease-in-out;
}
.history .container .history-p p::first-letter {
  font-weight: bold;
  font-size: 40px;
}
.history .container .history-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
}
.history .container .history-img img {
  box-shadow: 0px 5px 10px #16194f;
  border-radius: 26px;
}
.history .container .history-img img:first-child {
  transform: translate(-10px, -50px);
  animation: image 2s ease-in-out;
}
.history .container .history-img img:last-child {
  transform: translate(10px, 150px);
  animation: image2 2s ease-in-out;
}

.food {
  min-height: calc(100vh - 30px);
  line-height: 1.5;
  letter-spacing: 0.6px;
  word-spacing: 1.6px;
}
.food .h1-food {
  margin: 30px;
  font-size: 40px;
  -webkit-text-decoration: underline #a44ef5;
          text-decoration: underline #a44ef5;
}
.food .container {
  margin: 30px;
}
.food .food-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.food .food-img div {
  margin: 0px 20px 50px 20px;
  text-align: center;
}
.food .food-img div img {
  box-shadow: 0px 5px 10px #16194f;
  border-radius: 12px;
  margin-bottom: 10px;
}
.food .food-img div p {
  font-size: 15px;
}
.food .food-p {
  display: flex;
  z-index: 2;
}
.food .food-p h2 {
  text-align: center;
  margin: 10px;
}
.food .food-p p {
  margin: 0px 20px;
  font-size: 17px;
}
.food .food-p p::first-letter {
  font-weight: bold;
  font-size: 24px;
}

.treats {
  min-height: calc(100vh - 30px);
  line-height: 1.5;
  letter-spacing: 0.6px;
  word-spacing: 1.6px;
}
.treats .h1-treats {
  margin: 30px;
  font-size: 40px;
  -webkit-text-decoration: underline #a44ef5;
          text-decoration: underline #a44ef5;
}
.treats .container {
  margin: 30px;
}
.treats .treats-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.treats .treats-img .first {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}
.treats .treats-img .first img {
  box-shadow: 0px 5px 10px #16194f;
  border-radius: 12px;
  margin: 50px;
}
.treats .treats-img .second {
  flex: 0 0 50%;
  max-width: 50%;
}
.treats .treats-img .second p {
  font-size: 15px;
  margin-top: 50px;
}
.treats .treats-img .second p::first-letter {
  font-weight: bold;
  font-size: 24px;
}

.reveal {
  opacity: 1;
  position: relative;
}

.reveal.active {
  opacity: 1;
}

.active .h1-food {
  animation: h1-active 1.2s ease-in-out;
}

.active .h1-treats {
  animation: h1-active 1.2s ease-in-out;
}

.active [title=img-1] {
  animation: imageShuffler 1.5s ease-in-out both;
}

.active [title=img-2] {
  animation: imageShuffler 1.5s ease-in-out 0.25s both;
}

.active [title=img-3] {
  animation: imageShuffler 1.5s ease-in-out 0.5s both;
}

.active [title=img-4] {
  animation: imageShuffler 1.5s ease-in-out 1s both;
}

.active [title=img-5] {
  animation: imageShuffler 1.5s ease-in-out 1.5s both;
}

.active [title=img-treats-1] {
  animation: imageShuffler 1.5s ease-in-out both;
}

.active [title=img-treats-2] {
  animation: imageShuffler 1.5s ease-in-out 0.5s both;
}

.active .dog-food {
  animation: text 2s ease-in-out;
}

.active .food-p h2 {
  animation: text 2s ease-in-out;
}

.active [title=p-treats-1] {
  animation: imageShuffler 1.5s ease-in-out both;
}

.active [title=p-treats-2] {
  animation: imageShuffler 1.5s ease-in-out 0.5s both;
}

@keyframes image {
  from {
    opacity: 0;
    position: relative;
    transform: translate(-10px, -250px);
  }
  to {
    opacity: 1;
    transform: translate(-10px, -50px);
  }
}
@keyframes image2 {
  from {
    opacity: 0;
    transform: translate(10px, 250px);
  }
  to {
    opacity: 1;
    transform: translate(10px, 150px);
  }
}
@keyframes text {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes h1 {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes h1-active {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes imageShuffler {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-container .aside {
  width: 270px;
  position: fixed;
  left: -300px;
  top: 0;
  height: 100%;
  border: 1px solid rgba(110, 112, 162, 0.2745098039);
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition: all 0.5s ease;
}
.main-container .aside .aside-page {
  transform: translate(20px, 50px);
  text-align: center;
}
.main-container .aside .aside-page img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.main-container .aside .aside-page .drop-down {
  margin-top: 10px;
  font-size: 17px;
  color: #16194f;
  font-weight: 600;
}
.main-container .aside .aside-page .drop-down .links {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s ease;
}
.main-container .aside .aside-page .drop-down .link {
  text-decoration: none;
  color: #6e70a2;
  margin-top: 8px;
  display: inline-block;
}
.main-container .aside .aside-page .drop-down .link:hover {
  color: #16194f;
  font-weight: 600;
}
.main-container .aside .aside-page .drop-down .link-show {
  opacity: 1;
}
.main-container .aside .nav {
  margin: auto;
}
.main-container .aside .nav li {
  margin: 30px 0px;
  list-style: none;
}
.main-container .aside .nav li .select {
  text-decoration: none;
  font-size: 17px;
  display: block;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(110, 112, 162, 0.2745098039);
  color: #6e70a2;
  cursor: pointer;
}
.main-container .aside .nav li .select i {
  margin-right: 15px;
  font-size: 20px;
}
.main-container .aside .nav li .select-active {
  color: #16194f;
  font-weight: 600;
}
.main-container .aside .nav li .select-active i {
  color: #a44ef5;
}
.main-container .aside .open-nav {
  transform: translate(17em, -15em);
  width: 20%;
  opacity: 10%;
  display: block;
}
.main-container .aside .open-nav:hover {
  opacity: 100%;
}
.main-container .aside .open-nav p {
  font-size: 25px;
  background-color: #a44ef5;
  border-top: 1px solid #f2f6ff;
  border-right: 1px solid #f2f6ff;
  border-bottom: 1px solid #f2f6ff;
  color: #f2f6ff;
  padding: 0px 13px;
  cursor: pointer;
}
.main-container .aside .display-none {
  display: none;
}
.main-container .aside .close-nav {
  transform: translate(5.5em, -30px);
}
.main-container .aside .close-nav i {
  color: #a44ef5;
  font-size: 25px;
  cursor: pointer;
}
.main-container .open-aside {
  left: 0;
}

* {
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f6ff;
  color: #16194f;
}

.hr {
  display: flex;
  z-index: -1;
  position: relative;
  height: 20px;
  filter: blur(5px);
}
.hr div:first-child {
  flex: 0 0 12%;
  max-width: 50%;
  margin-left: 30px;
  transform: translateY(30px);
}
.hr div:first-child hr {
  margin: 15px 0px;
  border: 5px dashed rgba(110, 112, 162, 0.2745098039);
  border-radius: 20px;
}
.hr div:first-child hr:first-child {
  border: 5px dashed #a44ef5;
}
.hr div:last-child {
  flex: 0 0 20%;
  max-width: 30%;
  margin-right: 40px;
  margin-left: auto;
  transform: translateY(-170px);
}
.hr div:last-child hr {
  margin: 15px 0px;
  border: 5px dashed rgba(110, 112, 162, 0.2745098039);
  border-radius: 20px;
}
.hr div:last-child hr:last-child {
  border: 3px dashed #a44ef5;
}

.hr {
  animation: hr 2s ease-in-out;
}

@keyframes hr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */