@use "../styles/abstracts/index" as style;
@use "../styles/components/home";
@use "../styles/components/dog-page";
@use "../styles/components/nav";

* {
  margin: 0px;
  transition: all 0.5s ease;
}

body {
  background-color: style.$colorNeutral;
}
